<!DOCTYPE html>
<html>
    <head>
        <title>Event</title>
        <link rel="icon" href="C:\Users\ACER\Downloads\car.jpg">
    </head>
    <body bgcolor="black" style="color: aliceblue;">
        <center>
            <h1>HEYY  EVERYONE!!</h1>
            <h2>Don't miss the chance. Stay updated</h2>
        </center>
        <hr>
        <center>
            <h1>CARS24</h1>
            <p>Explore the world of cars with our upcoming events! Whether you're a classic car enthusiast or a fan of cutting-edge automotive technology, there's something for everyone. Here's a summary of the top car events you shouldn't miss:</p>
            <img src="C:\Users\ACER\Downloads\jonathan-cooper-IMeL7bGWJCs-unsplash.jpg" width="500px"><br>
            <form action="/nextpage",method="get">
                <button style="cursor: pointer;">Register Here</button>
            </form>
        </center>
        <hr>
        <center>
            <ul>
                <li>3 Laps,</li>
                <li>10km race, </li>
                <li>nitrogen gas cylinders not allowed,</li>
                <li>modified cars not allowed.</li>
            </ul>
        <h2>Price : RS.25,00,000</h2>
        </center>
        <h4>Date : 17-6-2024</h4>
        <h4>Location : Chennai</h4>



    </body>
</html>