<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <link rel="icon" href="C:\Users\ACER\Downloads\car.jpg">
</head>
<body bgcolor="black" style="color:aliceblue;">
    <center>
    <h1>CARS24</h1>
    <form action="/register" method = "post">
        <table>
            <tr>
                <td>Name:</td> <td><input name="name" type="text" placeholder="Name"></td>
            </tr>
            <tr>
                <td>Age:</td> <td><input name="age" type="number" placeholder="Age"></td>
            </tr>
            <tr>
                <td>Gender:</td> <td><input name="gender" type="radio" name="Gender">Male <input name="gender" type="radio" name="Gender">Female</td>
            </tr>
            <tr>
                <td>Address:</td> <td><input name="address" type="text" placeholder="Address"></td>
            </tr>
            <tr>
                <td>contact:</td> <td><input name="phn" type="number" placeholder="phn no..."></td>
            </tr>
            <tr>
                <td>Email:</td> <td><input name="email" type="email" placeholder="email"></td>
            </tr>
            <tr>
                <td>Lisence No:</td> <td><input name="lisence" type="text" placeholder="DL no..."></td>
            </tr>
            <tr>
                <td><button style="cursor: pointer;" type="reset">reset</button></td>
                <td><button style="cursor: pointer;" type="submit">submit</button></td>
            </tr>
        </table>
    </form>
</center>
    
</body>
</html>